################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sites/FileContentIndex/0fc43396-58ca-4947-b7e0-53061849a3be.vsidx
/.vs/sites/FileContentIndex
